* {
    box-sizing: border-box;
}
main{
    width: 100%;
    display: block;
}
body{
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
.container{
    display: grid;
    grid-area: auto;
    background-color: white;
    justify-content: center;
    max-width: 1120px;
    border-radius: 10px;
}
.boxes{
    display: grid;
    border: 5px;
    height: auto;
    padding: 20px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.content-boxes{
    display: grid;
    justify-content: center;
    padding: 20px;
}
.question-boxes{
    display: grid;
    justify-items: center;
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    font-size: medium;
    font-weight: normal;
    border-radius: 10px;
}
.responsive{
    margin: 10px;
    height: auto;
    max-width: 100%;
    font-size: 5vw;
    /*width: 100%*/
}
.fact-content{
    display: grid;
    justify-content: center;
}
.fact-content-title{
    font-weight: bold;
    display: grid;
    justify-content: center;
}
img{
    border-radius: 10px;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}


/*mobil*/
@media screen and (min-width: 320px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(0.5fr 1fr 1fr 1fr);
        grid-template-areas: 
        "item-1"
        "item-2"
        "item-3"
        "item-4"
        ;
    }
    .content-boxes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "q1"
        "q2"
        "q3"
        "q4"
        "q5"
        "q6";
    }
    .fact-content-title{
        width: 184px;
        font-size: 18px;
    }
    .fact-content{
        width: 184px;
        font-size: 15px;
    }
    #menu-banner{
        top: 10px;
        position: sticky;
    }
}

/*platta*/
@media screen and (min-width: 600px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(0.5fr 1fr 1fr 1fr);
        grid-template-areas: 
        "item-1 item-1 item-1"
        "item-2 item-3 item-3"
        "item-2 item-3 item-3"
        "item-4 item-4 item-4"
        ;
    }
    .content-boxes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "q1"
        "q2"
        "q3"
        "q4"
        "q5"
        "q6";
    }
    .fact-content-title{
        width: 269px;
        font-size: 21px;
    }
    .fact-content{
        width: 269px;
        font-size: 18px;
    }
    #menu-banner{
        top: 0px;
        position: sticky;
    }
}

/*desktop*/
@media screen and (min-width: 900px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(0.5fr 1fr 1fr 1fr 1fr);
        grid-template-areas: 
        "item-1 item-1 item-1 item-1"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-4 item-4 item-4 item-4"
        ;
    }
    .content-boxes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "q1"
        "q2"
        "q3"
        "q4"
        "q5"
        "q6";
    }
    .fact-content-title{
        width: 400px;
        font-size: 23px;
    }
    .fact-content{
        width: 400px;
        font-size: 20px;
    }
    #menu-banner{
        width: 260px;
        top: 0px;
        position: sticky;
    }
}

/*större desktop*/
@media screen and (min-width: 1200px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(0.5fr 1fr 1fr 1fr 1fr);
        grid-template-areas: 
        "item-1 item-1 item-1 item-1"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-4 item-4 item-4 item-4"
        ;
    }
    .content-boxes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "q1"
        "q2"
        "q3"
        "q4"
        "q5"
        "q6";
    }
    #menu-banner{
        width: 260px;
        top: 0px;
        position: sticky;
    }
}

/*stor desktop*/
@media screen and (min-width: 2500px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(0.5fr 1fr 1fr 1fr 1fr);
        grid-template-areas: 
        "item-1 item-1 item-1 item-1"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-2 item-3 item-3 item-3"
        "item-4 item-4 item-4 item-4"
        ;
    }
    .content-boxes{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "q1"
        "q2"
        "q3"
        "q4"
        "q5"
        "q6";
    }
    #menu-banner{
        width: 300px;
        top: 0px;
        position: sticky;
    }
}

#banner{
    display: flex;
    color: white;
    font-size: medium;
    background-color: green;
    grid-area: item-1;
    align-items: center;
    justify-content: center;
}
#menu{
    background-color: lightgrey;
    grid-area: item-2;
    padding-bottom: 10px;
}
#menu-banner{
    background-color: lightgrey;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: medium;
    font-style:normal;
    font-weight: bold;
    padding: 10px;
    grid-area: item-2;
    height: 152.44px;
}
.button{
    display: block;
    color: black;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 2.5px;
}
button{
    width: 100%;
}
#content{
    background-color: white;
    grid-area: item-3;
    display: grid;
    justify-content: center;
    align-items: center;
}
#intro{
    display: flex;
    justify-content: center;
    background-color: white;
}
#about_us{
    color: white;
    background-color: green;
    grid-area: item-4;
}

#box1{
    background-color: lightgray;
    grid-area: q1;
}
#box2{
    background-color: lightgray;
    grid-area: q2;
}
#box3{
    background-color: lightgray;
    grid-area: q3;
}
#box4{
    background-color: lightgray;
    grid-area: q4;
}
#box5{
    background-color: lightgray;
    grid-area: q5;
}
#box6{
    background-color: lightgray;
    grid-area: q6;
}